@using Quki.Entity.DtoModels
@using X.PagedList;
@using X.PagedList.Mvc.Core

@model List<SliderModel>

<div class="col-12">
    <div class="card  card-secondary">
        <div class="card-header" style="height:65px">
            <h3 class="card-title" style="color:white">Ürün Tanımlama</h3>

            <a asp-action="NewItem" asp-controller="Slider" asp-area="Admin" class="btn btn-info float-right"> Yeni</a>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table id="datatable" class="table table-striped table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Adı</th>
                        <th>Başlık</th>
                        <th>Dil</th>                     
                        <th>Durumu</th>
                        <th>Sil</th>
                        <th>Guncelle</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var Item in Model)
                    {
                        <tr>
                            <td>@Item.SliderName</td>
                            <td>@Item.Header</td>
                            @if (Item.LanguageId == 1)
                            {
                                <td>Türkçe</td>
                            }
                            @if (Item.LanguageId == 2)
                            {
                                <td>English</td>
                            }
                            @if (Item.LanguageId == 3)
                            {
                                <td>Deutsch</td>
                            }
                            <td>@Item.IsActive</td>


                            <td> <a asp-action="Delete" asp-controller="Slider" onclick="return confirm('Silmek istediğinzden emin misiniz?')" asp-area="Admin" asp-route-id="@Item.SliderSeqId " class="btn btn-danger"> Sil</a></td>
                            <td> <a asp-action="Update" asp-controller="Slider" asp-area="Admin" asp-route-id="@Item.SliderSeqId" class="btn btn-info"> Güncelle</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>






        <div class="card-footer">
            <ul class="pagination pagination-sm m-0 float-right">
                @if (Model.Any())
                {
                    // @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
                }
            </ul>
            <a asp-action="NewItem" asp-controller="Slider" asp-area="Admin" class="btn btn btn-info"> Yeni </a>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>


@section head{
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
}
@section scripts{
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
}

@section scriptsready {
    var datatableInstance = $('#datatable').DataTable();
}
