@using Quki.Entity.DtoModels
@model NewsAndAnnouncementModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card card-info card-tabs" style="width:100%;">





    <form asp-action="Update" asp-controller="Etkinlik" asp-area="Admin" method="post" class="form-horizontal" enctype="multipart/form-data">

        <div class="card-body">
            <div class="tab-content" id="custom-tabs-one-tabContent">


                <input type="hidden" asp-for="@Model.NewsAndAnnouncementSeqId" class="form-control">
                <input type="hidden" asp-for="@Model.ImagePath" class="form-control">
                <input type="hidden" asp-for="@Model.CreatedDate" class="form-control">

                <div class="form-group row">
                    <label asp-for="@Model.LanguageId" class="col-sm-2 col-form-label">Dil</label>
                    <div class="col-sm-10">

                        <div class="form-group">
                            @Html.DropDownListFor(a => a.LanguageId, (List<SelectListItem>)ViewBag.language, new { @class = "form-control select2" })
                        </div>

                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="@Model.NewsAndAnnouncementId" class="col-sm-2 col-form-label">Tipi</label>
                    <div class="col-sm-10">

                        <div class="form-group">
                            @Html.DropDownListFor(a => a.NewsAndAnnouncementId, (List<SelectListItem>)ViewBag.Type, new { @class = "form-control select2" })
                        </div>

                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="@Model.Contents" class="col-sm-2 col-form-label">Etkinlik Adı</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="@Model.Contents" class="text-danger"></span>
                        <input type="text" asp-for="@Model.Contents" class="form-control" placeholder="Etkinlik Adı">
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="@Model.Remark" class="col-sm-2 col-form-label"> Etkinlik Açıklama</label>
                    <div class="col-sm-10">
                        <span asp-validation-for="@Model.Remark" class="text-danger"></span>
                        <textarea type="text" asp-for="@Model.Remark" id="editor" placeholder="@Model.Remark"></textarea>

                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="@Model.ImagePathName" class="col-sm-2 col-form-label">Etkinlik Medya </label>
                    <div class="col-sm-10">
                        <span asp-validation-for="@Model.ImagePathName" class="text-danger"></span>
                        <input type="file" asp-for="@Model.ImagePathName" class="form-control-file" placeholder="Etkinlik açıklaması">

                        <label asp-for="@Model.ImagePath" class="col-sm-2 col-form-label">@Model.ImagePath</label>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <div class="form-check">
                            <input type="checkbox" asp-for="@Model.Status" class="form-check-input">
                            <label class="form-check-label" asp-for="@Model.Status">Aktiflik Durumu</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" asp-action="Update" asp-controller="Etkinlik" asp-area="Admin" onclick="return confirm('Güncellemek istediğinzden emin misiniz?')" asp-route-id="@Model.NewsAndAnnouncementSeqId" class="btn btn-info">Güncelle</button>
            <button type="submit" asp-action="Index" asp-controller="Etkinlik" asp-area="Admin" class="btn btn-default float-right">Vazgeç</button>
        </div>
        <!-- /.card-footer -->
    </form>

    <!-- /.card -->
</div>
<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/web/js/ckconfig.js"></script>
<script src="~/web/js/ckconfig2.js"></script>



<script>
    function callChangefunc(val) {
        window.location.href = "/Admin/NewsAndAnnouncement/Update?id=" + val.toString() + "-" + @Model.NewsAndAnnouncementSeqId;
    }
</script>

