@using Quki.Entity.Models
@model List<Menu>

<nav id="primary-menu" class="navbar navbar-fixed-top">
    
                <div style="float:right; margin-top:-70px; margin-right: 20px;">
        <partial name="_Culture" />
                </div>
    <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
                <a class="logo" href="/">
                <img class="logo-light" src="/webQuki/images/logo/logo-light.png" alt="Steakin Logo" draggable="false">
				</a>
            </div>
     <div class="collapse navbar-collapse pull-right" id="navbar-collapse-1">
                <ul class="nav navbar-nav nav-pos-right navbar-left">
                   @if (Model != null && Model.Count > 0)
                    {
                    string currentLink = "";
                    foreach (var item in Model)
                    {
                        if (@item.action == ViewBag.currentMenu)
                        {
                            currentLink = "currentMenu";
                        }
                        else
                        {
                            currentLink = "";
                        }
                        <li class="has-dropdown">
                            @if (@item.MenuID==0)
                            {

                                <a asp-action="@item.action" asp-controller="@item.controller" class="dropdown-toggle  menu-item @currentLink" data-hover="pages">@item.Name</a>
                            }
                            else
                            {

                                <a asp-action="@item.action" asp-controller="@item.controller" asp-route-id="@item.MenuID" class="dropdown-toggle  menu-item @currentLink" data-hover="pages">@item.Name</a>
                            }

                            </li>
                        }
                    }

                  </ul>

            </div>

            <!-- /.navbar-collapse -->
        </div>

        <!-- /.container-fluid -->
    </nav>




