@using Quki.Entity.Models
@model List<Menu>

    <div class="index-menu">
        <nav class="main-nav">
            <ul class="megamenu">
                @foreach (var item in Model)
                {


                    <li>
                        <a asp-action="@item.action" asp-controller="@item.controller" asp-route-id="@item.MenuID">
                            @item.Name
                        </a>

                    </li>
                }

                @*<li>
                        <a asp-action="GetDocument" asp-controller="Document" asp-route-id="1">
                            Sesli Tiyatro
                        </a>

                    </li>

                    <li>
                        <a href="#">
                            Müzik

                        </a>

                    </li>
                    <li>
                        <a asp-action="index" asp-controller="Home">Abonelikler</a>
                    </li>

                    <li>
                        <a href="about-us.html">Seslendirenler</a>
                    </li>
                    <li>
                        <a href="about-us.html">Yaş Aralığı</a>
                    </li>*@
                @*<li>
                        <a href="#">Oturum Aç</a>

                        <ul>

                            @if (signInManager.IsSignedIn(User))
                            {
                                <li>
                                    <form method="post" asp-action="logout" asp-controller="Account">
                                        <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">

                                            Çıkış Yap aktif kullancı: @User.Identity.Name
                                        </button>

                                    </form>
                                </li>
                                <li>
                                    <a asp-action="UserProfile" asp-controller="Account" asp-route-id="@User.Identity.Name" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Profil Git </p>
                                    </a>




                                </li>

                            }
                            else
                            {
                                <li>
                                    <a asp-action="Register" asp-controller="Account" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Üye ol</p>
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="Userlogin" asp-controller="Account" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Giriş Yap</p>
                                    </a>
                                </li>
                            }


                        </ul>
                    </li>*@

            </ul>
        </nav>
    </div>