@using Quki.Entity.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTikutu.cshtml";
}
@model Document

</script>
@if (Model != null)
{
    if (Model.MenuID != 21)
    {
        @await Component.InvokeAsync("Banner", new { menuId = 1 })

    }

    if (Model.MenuID == 21)
    {
        @await Component.InvokeAsync("Banner", new { menuId = 21 })
    }
    <h1 class="Customh1Unvisible">@ViewBag.Header</h1>


    <div class="section about">
        <div class="container">
            <div class="title text-center">
                <div class="page-title color">
                    <div class="title title-icon">
                        @*<h2 class="title-h2">@Model.Header2</h2>*@
                        <p class="description">

                            @Html.Raw(@Model.Contents)
                        </p>
                        <p class="description">
                            @if (Model.Contents2 != null)
                                @Html.Raw(@Model.Contents2)

                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
}
else
{
     <p class="description">
        Sayfa bilgidi bulunamadı
    </p>
}




