
<section>
    <div class="section tiva-slideshow-wrapper">
        <div id="tiva-slideshow" class="nivoSlider">

            <a href="#" title="Slideshow image">
                <img class="img-fluid" src="~/web/img/slideshow/home1-slider2.jpg" title="#caption1" alt="Slideshow image">
            </a>
            <a href="#" title="Slideshow image">

                <img class="img-fluid" src="~/web/img/slideshow/home1-slider1.jpg" title="#caption2" alt="Slideshow image">
            </a>
        </div>


        <div id="caption1" class="nivo-html-caption col-lg-block">
            <div class="tiva-caption m-right">
                <div class="tiva-caption m-right">

                    <div class="roll normal">
                        <div style="padding:0px;">
                            <h1 class="Customh1Title">
                                @MultiLanguageOmni.ReadResourceKey.GetString("Slider2Title1", "MultiLanguageOmni.Index")
                            </h1>
                        </div>
                        <div class="d-none d-lg-block" style="font-size:1.5vw;">
                            @MultiLanguageOmni.ReadResourceKey.GetString("Slider2Title2", "MultiLanguageOmni.Index")
                        </div>
                    </div>
                </div>
            </div>
            <div id="caption2" class="nivo-html-caption col-lg-block">
                <div class="tiva-caption m-left">
                    <div class="right-left normal" style="margin-top: 35%; padding:0px; font-size:1.5vw; color:#08b6a7; font-weight:700;">
                        @MultiLanguageOmni.ReadResourceKey.GetString("TryQuki", "MultiLanguageOmni.Index")
                    </div>
                    <div class="right-left d-none d-lg-block" style="font-size:1.5vw;">
                        @MultiLanguageOmni.ReadResourceKey.GetString("TryQukiSubTitle", "MultiLanguageOmni.Index")
                    </div>
                    
                <div class="Praesent" style="margin-top:3%">
                    <div class="row">
                            <div class="right-left slow disciver-now col-4" style="float:left; margin-bottom:2%">
                            <a class="btn button btn-green ResponsiveButtonT" href="/abonelik-turu" title="Shop now">@MultiLanguageOmni.ReadResourceKey.GetString("BtnSubsription", "MultiLanguageOmni.Index")</a>

                        </div>
                        <div class="col-4"></div>
                        <div class="right-left slow disciver-now col-4" style="float:left;">
                            <a class="btn button btn-white ResponsiveButtonW" href="/giris" title="Shop now">@MultiLanguageOmni.ReadResourceKey.GetString("SignIn", "MultiLanguageOmni.Index")</a>

                        </div>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </div>
</section>