@using Quki.Common
@using Quki.Entity.Models
@model List<Producer>

@if (Model.Any())
{
    @if (Model != null)
    {
        int producerOrder = 0;

        @foreach (var item in Model)
        {
            producerOrder++;
            <div class="col-lg-3 col-md-6 col-sm-12 mg-bottom-50" style="width:50%">
                <div class="item" style="width:70%; margin:auto">
                    <div class="item-img">
                        <a href="/seslendirenler/@Functions.ReplaceString(item.Name)" title="">
                            @if (producerOrder % 3 == 0)
                            {
                                <img src=@item.ImagePath alt="@item.Name" class="img-fluid rounded-circle" style="border:5px solid #08b6a7">
                            }
                            @if (producerOrder % 3 == 1)
                            {
                                <img src=@item.ImagePath alt="@item.Name" class="img-fluid rounded-circle" style="border:5px solid #f16d94 ">
                            }
                            @if (producerOrder % 3 == 2)
                            {
                                <img src=@item.ImagePath alt="@item.Name" class="img-fluid rounded-circle" style="border:5px solid #f8d66b ">
                            }


                        </a>
                    </div>
                    <div class="item-content">
                        <div class="sub-title">
                            <h2 class="ProducerTitle">@item.Name</h2>
                        </div>
                        @*<p>@item.Description</p>*@
                    </div>
                </div>
            </div>
        }
    }
}


