@using Quki.Entity.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = ViewBag.MyDiv;
}

@model VisitorComment

@await Component.InvokeAsync("HomeSlider")

<section id="banner6" class="banner banner-1 text-center pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="heading heading-1 text--center mb-50">
                    <p class="heading--subtitle">@MultiLanguageOmni.ReadResourceKey.GetString("QukiMeyhaneTitle", "MultiLanguageOmni.Index")</p>
                    <h2 class="heading--title">@MultiLanguageOmni.ReadResourceKey.GetString("QukiMeyhane", "MultiLanguageOmni.Index").ToUpper()</h2>
                    <div class="divider--shape-4">@MultiLanguageOmni.ReadResourceKey.GetString("HomeMenuText", "MultiLanguageOmni.Index")</div>
                    <p class="heading--desc"></p>
                </div>
                <!-- .heading end -->
            </div>
            <!-- .col-md-6 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="banner-panel">
                    <div class="banner--img">
                        <img src="~/webQuki/images/banners/1.jpg" alt="banner img" class="img-responsive">
                    </div>
                </div>
                <!-- .banner-panel end -->
            </div>
            <!-- .col-md-4 end -->

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="banner-panel">
                    <div class="banner--img">
                        <img src="~/webQuki/images/banners/2.jpg" alt="banner img" class="img-responsive">
                    </div>
                </div>
                <!-- .banner-panel end -->
            </div>
            <!-- .col-md-4 end -->

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="banner-panel">
                    <div class="banner--img">
                        <img src="~/webQuki/images/banners/3.jpg" alt="banner img" class="img-responsive">
                    </div>
                </div>
                <!-- .banner-panel end -->
            </div>
            <!-- .col-md-4 end -->

        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #banner6 end -->


@await Component.InvokeAsync("GetVisitorComments")

<section id="menuGrid">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="heading heading-1 mb-50 text--center">
                    <p class="heading--subtitle">@MultiLanguageOmni.ReadResourceKey.GetString("QukiMeyhaneTitle", "MultiLanguageOmni.Index")</p>
                    <h2 class="heading--title mb-0">@MultiLanguageOmni.ReadResourceKey.GetString("ExploreOurMenu", "MultiLanguageOmni.Index")</h2>
                    <div class="divider--shape-4"></div>
                </div>
            </div>
            <!-- .col-md-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
    <!-- .container end -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <a class="btn btn--primary btn--bordered btn--rounded btn--lg mt-0" asp-controller="Menu" asp-action="Index">@MultiLanguageOmni.ReadResourceKey.GetString("ViewMenu", "MultiLanguageOmni.Index")</a>
            </div>
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>

@*
@await Component.InvokeAsync("News")*@

@await Component.InvokeAsync("PopUp")





