@using Quki.Entity.DtoModels;
@using Quki.Models
@*//@model List<GetMenuItems>*@
@{
    ViewData["Title"] = "GetMenuItem";
    Layout = "~/Views/Shared/_LayoutMobil.cshtml";
    List<Condiment> condimentRequired = ViewBag.condimentRequired as List<Condiment>;
    List<Condiment> condimentNonRequired = ViewBag.condimentNonRequired as List<Condiment>;
}


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<div class="row margin-top-menu">
    <div class="col-3 h-25 d-inline-block" align="center" valign="center" onclick="callSluMiGroupSeqfunc(@ViewBag.ID)">
        <img src="~/viewimage/geri_ikonu.png" style="margin-top:20px;" />
    </div>

</div>
<div class="row margin-top-menu" style="margin-bottom:20px;     margin-top: -9px; margin-left: -28px">
    <div class="col-6 h-25 d-inline-block" align="center" valign="center" onclick="goToIndex() ">
        <img src="~/viewimage/gorgululogo.png" style="width:120%; margin-left:93px;" />
    </div>

</div>
<div class="row" style="margin-top:5%;">
    <div class="col-1"></div>
    <div class="box3 col-10" onclick="callSluMiGroupSeqfunc(@ViewBag.ID)" style="font-size: 22px; background: #F36F21; font-weight: bold; font-family: arimamadurai">
        <div class="row">
            <div class="padding-text  col-12">@ViewBag.MenuItems</div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
<!-- Button trigger modal -->
@* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div> *@
@foreach (var item in ViewBag.ProductItems)
{
    <div class="row">
        <div class="col-1"></div>
        <div class="box2 col-10" data-bs-toggle="modal" data-bs-target="#modal_@item.mi_master_def_seq">
            <div class="row">
                <div class="col-5 imagecirculate">
                    <img src="~/icons/@item.mi_icon_path" style="border-radius:10px;" />
                </div>
                <div class="padding-text col-7" style="text-align: center; color: #F36F21; font-weight: bold; font-family: arimamadurai">
                    <p class="text-center h5" style="font-size:16px; font-weight:bold" color>@item.mi_master_def_name</p>
                    @* <p class="text-center text-secondary h6" style="font-size:12px; font-weight:bold; font-family:arimamadurai" color>@item.rvc_mi_third_name</p> *@
                    <p class="text-center text-secondary"> </p>
                    <p class="text-center text-secondary"> </p>
                    <p class="text-center text-secondary h6" style="font-size:16px; font-weight:bold; font-family:arimamadurai" color>@item.mi_price TL</p>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
}
@foreach (var item in ViewBag.ProductItems)
{

    var condimentRequiredList = condimentRequired.Where(x => x.mi_master_def_seq == item.mi_master_def_seq).ToList();
    var condimentNonRequiredList = condimentNonRequired.Where(x => x.mi_master_def_seq == item.mi_master_def_seq).ToList();
    int condimentCount = condimentRequiredList.Count() + condimentNonRequiredList.Count();
    string modelSize = "444px";
    if (condimentCount >= 3)
    {
        modelSize = "644px";
    }
    <div class="modal fade" id="modal_@item.mi_master_def_seq" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin-top: 36%;    margin-left: 5%;    margin-right: 5%;">
            <div class="overflow-auto modal-content" style="height:@modelSize; border-radius: 50px; border-width: 5px; text-align:center; border-color: #F36F21;">

                <div class="modal-body gallery-item">
                    <div class=" imagecirculate3">
                        <img src="~/icons/@item.mi_icon_path" style="border-radius:10px;" />
                    </div>
                    <p class="text-center h5" style="font-size: 18px; margin-top: 9px; color: #F36F21; font-family: arimamadurai " >@item.mi_master_def_name.Trim()  </p>

                    <p class="text-center h5" style="font-size: 16px; margin-top: 9px; color: #483000; font-family: arimamadurai " >@item.rvc_mi_third_name.Trim()  </p>

                    <p class="text-center h5" style="font-size: 18px; margin-top: 9px; color: #483000; font-family: arimamadurai " >@item.mi_price TL</p>

                    @foreach (var coReqItem in condimentRequired)
                    {
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="box2 col-10" data-bs-toggle="modal" data-bs-target="#modal_@item.mi_master_def_seq">
                                <div class="row">
                                    <div class="col-6 imagecirculate">
                                        <img src="~/icons/@coReqItem.mi_icon_path" style="border-radius:10px;" />
                                    </div>
                                    <div class="padding-text col-6" style="text-align: center; color: #F36F21; font-weight: bold; font-family: arimamadurai">
                                        <p class="text-center h5" style="font-size:20px; font-weight:bold" color>@coReqItem.mi_master_def_name</p>
                                        <p class="text-center text-secondary"> </p>
                                        <p class="text-center text-secondary"> </p>
                                        @*  <p class="text-center text-secondary h6" style="font-size:16px; font-weight:bold; font-family:arimamadurai" color>@coReqItem.mi_price TL</p> *@
                                    </div>
                                </div>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    }
                    @foreach (var coReqItem in condimentNonRequiredList)
                    {
                        <div class="row" style="margin-bottom: 4px;">
                            <div class="col-1"></div>
                            <div class="box2 col-10" data-bs-toggle="modal" data-bs-target="#modal_@item.mi_master_def_seq">
                                <div class="row">
                                    <div class="col-6 imagecirculate">
                                        <img src="~/icons/@coReqItem.mi_icon_path" style="border-radius:10px;" />
                                    </div>
                                    <div class="padding-text col-6" style="text-align: center; color: #F36F21; font-weight: bold; font-family: arimamadurai">
                                        <p class="text-center h5" style="font-size:20px; font-weight:bold" color>@coReqItem.mi_master_def_name</p>
                                        <p class="text-center text-secondary"> </p>
                                        <p class="text-center text-secondary"> </p>
                                        @* <p class="text-center text-secondary h6" style="font-size:16px; font-weight:bold; font-family:arimamadurai" color>@coReqItem.mi_price TL</p> *@
                                    </div>
                                </div>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    }
                </div>
                <div class="modal-footer" style="justify-content: center; border: 0px;">
                    <button type="button" class="btn btn-secondary" style=" background-color: #F36F21; border: 0px; width: 100px; height: 35px;" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
}