@using Quki.Models
@*//@model List<GetMenuItems>*@
@{
    ViewData["Title"] = "GetMenuItem";
    Layout = "~/Views/Shared/_LayoutMobil.cshtml";
}



<div class="row" style="margin-top:15%;" >
    <div class="col-1"></div>
    <div class="box3 col-10" onclick="goSluDefController()" style="font-size:22px;background:black; font-weight:bold; font-family:arimamadurai">
        <div class="row">
            <div class="padding-text  col-12">@ViewBag.MenuItems</div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

@foreach (var item in ViewBag.ProductItems )
{
    <div class="row">
        <div class="col-1"></div>
        <div class="box2 col-10">
            <div class="row">
            <div class="col-6"><img src="@item.mi_icon_path" width="141" height="129" style="border-radius:10px;" /> </div>
                <div class="padding-text col-6" style="text-align:center; color:black; font-weight:bold; font-family:arimamadurai">
                <p class="text-center h5" style="font-size:20px; font-weight:bold" color>@item.mi_master_def_name</p>
                    <p class="text-center text-secondary h6" style="font-size:12px; font-weight:bold; font-family:arimamadurai" color>@item.rvc_mi_third_name</p>
                <p class="text-center text-secondary"> </p>
                <p class="text-center text-secondary"> </p>
                    <p class="text-center text-secondary h6" style="font-size:20px; font-weight:bold; font-family:arimamadurai" color>@item.mi_price TL</p>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
}


