@using Quki.Entity.DtoModels
@model List<SluDefModel>
@{
    ViewData["Title"] = "SluDef";
    Layout = "~/Views/Shared/_LayoutMobil.cshtml";
}
<style>
        /*.box {
            height: 40px;
            width: 75px;
            background: #F9FAFA;
            border-style: solid;
            border-color: #E3A73D;
            border-radius: 4px;
            color:#000000;
            text-align: center;
            border-width: 1px;
            padding: 5px;
            margin:5px;
        }*/
      /*  .section-1{
        heighth: 20px;
        width: 20px;
        background-color: darkorange;
        background-image: url('../../viewimage/choc_0 – 1.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }*/



</style>
<div>
    <div class="row margin-top-menu">
        <div class="col-3"></div>
        <div class="col-6 h-25 d-inline-block" align="center" valign="center" onclick="goToIndex() ">
            <img src="~/viewimage/chocolate logo.png" width="125"
                 height="125" />
        </div>
        <div class="col-3"></div>
    </div>
    
    <div class="row">
        <div class="col-1"></div>
        <div id="0" class="box4 col-10" value="0" onclick="callCampaingTypeSeqfunc(0)" style="font-size:20px font-weight:bold">
            <div class="row">
                <div class="margin-left col-3"><img src="~/icons/1tumu.png" width="60" height="60" /> </div>
                <div class="padding-text col-9" style="text-align:center">TÜMÜ</div>
            </div>
            
        </div>
        <div class="col-1"></div>
    </div>
    @foreach (var item in Model)
    {

        <div class="row margin-top-menu">
            <div class="col-1"></div>
            <div id="@item.slu_def_seq" class="box4 col-10 " value="@item.slu_def_seq" onclick="callCampaingTypeSeqfunc(@item.slu_def_seq)" style="font-size:20px font-weight:bold">
                <div class="row">
                    <div class="margin-left col-3"><img src="@item.slu_type_slu_image" width="60" height="60" /> </div>
                    <div class="padding-text col-9" style="text-align:center">@item.slu_def_name</div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

    }
</div>
<!--Navbar End-->
@* <div class="d-flex flex-column flex-sm-row">
        <a href="https://github.com/twbs/bootstrap/releases/download/v5.0.2/bootstrap-5.0.2-examples.zip" class="btn btn-lg btn-bd-primary" onclick="ga('send', 'event', 'Examples', 'Hero', 'Download Examples');">Download examples</a>
        <a href="https://github.com/twbs/bootstrap/archive/v5.0.2.zip" class="btn btn-lg btn-outline-secondary mt-3 mt-sm-0 ms-sm-3" onclick="ga('send', 'event', 'Examples', 'Hero', 'Download');">Download source code</a>
    </div>
    <a href="https://github.com/twbs/bootstrap/archive/v5.0.2.zip" class="btn btn-lg btn-outline-secondary mt-3 mt-sm-0 ms-sm-3" >Download source code</a>
   *@



