@using Quki.Entity.ViewModel;
@{
    ViewData["Title"] = "Menü";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MenuViewModel
<section id="page-title" class="page-title bg-overlay bg-parallax bg-overlay-gradient">
    <div class="bg-section">
        <img src="~/webQuki/images/page-title/33.jpg" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title title-1 text-center">
                    <div class="title--content">
                        <div class="title--subtitle">@MultiLanguageOmni.ReadResourceKey.GetString("ExploreOurMenu", "MultiLanguageOmni.Index")</div>
                        <div class="title--heading">
                            <h1>@MultiLanguageOmni.ReadResourceKey.GetString("QukiMeyhane", "MultiLanguageOmni.Index")</h1>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="divider--shape-1down"></div>
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<section id="menuSimple">
    <!-- .container end -->
    <div class="container-fluid pr-0 pl-0 tabs">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <!-- Nav tabs -->
                <div class="col-xs-12 col-sm-12 col-md-2"></div>
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Tumu" data-toggle="tab">Tümü</a></li>
                        @foreach (var item in Model.sluDefModels)
                        {
                            <li><a href="#@item.slu_def_seq" data-toggle="tab">@item.slu_def_name</a></li>
                        }
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2"></div>
            </div>
            <!-- Tab panes -->
            <div class="col-xs-12 col-sm-12 col-md-12">

                <div class="tab-content">
                    <div class="tab-pane fade  in active" id="Tumu">
                        <!-- Menu
                        ============================================= -->
                        <div class="menu-simple">
                            <div class="container">
                                <div class="row">

                                    @foreach (var itemMenu in Model.getMenuItems)
                                    {

                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                            <div class="dish-panel">
                                                <div class="dish--content">
                                                    <div class="dish--content-bio">
                                                        <h3 class="dish--title">@itemMenu.mi_master_def_name</h3>
                                                        <div class="dish--price">&nbsp;&nbsp;&nbsp;</div>
                                                    </div>
                                                    <p class="dish--desc">@itemMenu.rvc_mi_third_name</p>
                                                </div>
                                            </div><!-- .dish end -->
                                        </div>

                                        <!-- .dish-panel end -->
                                    }
                                </div> <!-- .row end -->
                            </div><!-- .container end -->
                        </div><!-- #menuSimple1 end -->
                    </div>
                    <!-- .tab-pane end -->
                    @foreach (var item in Model.sluDefModels)
                    {

                        <div class="tab-pane fade" id="@item.slu_def_seq">
                            <!-- Menu
                            ============================================= -->
                            <div class="menu-simple">
                                <div class="container">
                                    <div class="row">
                                        <!-- Dish #1 -->
                                        @{
                                            var sluItem = Model.getMenuItems.Where(x => x.slu_def_seq_view == item.slu_def_seq).ToList();
                                        }
                                        @foreach (var itemSlu in sluItem)
                                        {

                                            <div class="col-xs-12 col-sm-12 col-md-6">
                                                <div class="dish-panel">
                                                    <div class="dish--content">
                                                        <div class="dish--content-bio">
                                                            <h3 class="dish--title">@itemSlu.mi_master_def_name</h3>
                                                            <div class="dish--price">&nbsp;&nbsp;&nbsp;</div>
                                                        </div>
                                                        <p class="dish--desc">@itemSlu.rvc_mi_third_name</p>
                                                    </div>
                                                </div><!-- .dish end -->
                                            </div>

                                            <!-- .dish-panel end -->
                                        }
                                        <!-- Dish #2 -->
                                    </div> <!-- .row end -->
                                </div><!-- .container end -->
                            </div><!-- #menuSimple1 end -->
                        </div>
                    }
                </div>
            </div>
            <!-- .tabs-content end -->
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #menuSimple end -->