@using Microsoft.AspNetCore.Identity
@using Quki.Common
@using Quki.Entity.Models
<!DOCTYPE html>
<html lang="en">
@inject SignInManager<AppUser> signInManager;
@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    MultiLanguageOmni.ReadResourceKey.cultureName = culture.RequestCulture.UICulture.Name;
}

<head>
    <title>@ViewData["Title"] - QR Menü</title>
   

    <meta property="og:title" content="@ViewData["Title"] Quki">
    <meta content="@ViewData["Title"] Quki" name="twitter:title">
    <meta content="Quki" property="og:site_name">
    <meta content="news" property="og:type">
    <meta name="title" content="@ViewData["Title"] Quki" />
    <meta name="searchTitle" content="@ViewData["Title"] Quki" />
    <meta name="image" content="" />
    <meta content="index, follow" id="meta_robot" name="robots">
    <meta name="google-site-verification" content="cGmFm7ge4PXGlUzj3EVux-b-F3wFSHo2OBDIONHFct4" />


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/png">
    <link rel="canonical" href="@ViewData["canonicalLink"]" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Goggle Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="~/web/libs/boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/web/libs/flaticon/css/flaticon.css">
    <link rel="stylesheet" href="~/web/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/web/libs/nivo-slider/css/nivo-slider.css">
    <link rel="stylesheet" href="~/web/libs/nivo-slider/css/animate.css">
    <link rel="stylesheet" href="~/web/libs/nivo-slider/css/style.css">
    <link rel="stylesheet" href="~/web/libs/slider-range/css/jslider.css">
    <link rel="stylesheet" href="~/web/libs/font-cs/cs.css">
    <link href="~/web/libs/owl.carousel/assets/owl.carousel.css" rel="stylesheet" />
    <link href="~/web/css/stylesheet.css" rel="stylesheet" />
    <!-- Template CSS -->
    <link href="~/web/css/Background.css" rel="stylesheet" />
    
    <script src="~/web/libs/jquery/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>

</head>
<body >
    <div class="container body-content">
        @RenderBody()

    </div>

    <!-- Libs JS -->

    <script src="~/web/libs/boostrap/js/bootstrap.min.js"></script>
    <script src="~/web/libs/boostrap/js/popper.min.js"></script>
    <script src="~/web/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="~/web/libs/jquery.elevatezoom/jquery.elevatezoom.js"></script>
    <script src="~/web/libs/slider-range/js/tmpl.js"></script>
    <script src="~/web/libs/slider-range/js/jquery.dependClass-0.1.js"></script>
    <script src="~/web/libs/slider-range/js/draggable-0.1.js"></script>
    <script src="~/web/libs/slider-range/js/jquery.slider.js"></script>
    <script src="~/web/libs/masonry/masonry.pkgd.min.js"></script>
    <script src="~/web/libs/jquery.countdown/jquery.countdown.js"></script>
    <script src='~/web/libs/imagesloaded/imagesloaded.pkgd.js'></script>
    <!-- Template JS -->
   @* <script src="~/web/js/custom.js"></script>
    @RenderSection("JavaScript", false)
    <script src="https://cdn.efilli.com/efl.js" data-key="rldWWa64M8wnthNG2wGYJmfCRgTWMMDPjX8CZiSY94BPvpg2ri81o0xSrETXxaf"></script>*@

    <script src="~/webQuki/js/jquery-2.2.4.min.js"></script>
    <script src="~/webQuki/js/plugins.js"></script>
    <script src="~/webQuki/js/functions.js"></script>
    <script>
        function callCampaingTypeSeqfunc(val) {  
            window.location.href = "westchocolate-urun?id=" + val;
        } 
        function goSluDefController() {         
            window.location.href = "westchocolate-menu-kategori";
        }
        function goToIndex() {
            window.location.href = "westchocolate-menu";
        }
        function goSluDefControllerclick() {
            window.location.href = "westchocolate-menu-kategori";
        }
        (function () {
            var elements = document.querySelectorAll('img[data-src]');
            var index = 0;
            var lazyLoad = function () {
                if (index >= elements.length) return;
                var item = elements[index];
                if ((this.scrollY + this.innerHeight) > item.offsetTop) {
                    var src = item.getAttribute("data-src");
                    item.src = src;
                    item.addEventListener('load', function () {
                        item.removeAttribute('data-src');
                    });
                    index++;
                    lazyLoad();
                }
            };
            var init = function () {
                window.addEventListener('scroll', lazyLoad);
                lazyLoad();
            };
            return init();
        })();
    </script>

</body>
</html>
