@using Quki.Entity.ViewModel;
@model VisitorCommentViewModel
@{

    var message = ViewBag.MyDiv;
}

<section id="testimonial1" class="testimonial testimonial-1 bg-overlay bg-parallax bg-overlay-dark">
    <div class="bg-section">
        <img src="~/webQuki/images/background/1.jpg" alt="Background" />
    </div>

    <div class="container">
        <div class="divider--shape-1up"></div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="heading heading-1 mb-50 text--center">
                    <p class="heading--subtitle">
                        @MultiLanguageOmni.ReadResourceKey.GetString("Customercomments", "MultiLanguageOmni.Index")
                    </p>
                    <h2 class="heading--title color-white">@MultiLanguageOmni.ReadResourceKey.GetString("QukiMeyhane", "MultiLanguageOmni.Index").ToUpper()</h2>
                    <div class="divider--shape-13"></div>
                </div>
            </div>
            <!-- .col-md-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div id="testimonial-carousel" class="carousel carousel-dots carousel-white" data-slide="3" data-slide-rs="1" data-autoplay="false" data-nav="false" data-dots="true" data-space="30" data-loop="true" data-speed="800">
                    <!-- Testimonial #1 -->
                    @if (Model != null && Model.VisitorComments.Count > 0)
                    {

                        foreach (var item in Model.VisitorComments)
                        {

                            <div class="testimonial-container">

                                <div class="testimonial-panel">


                                    <div class="testimonial-bordered">

                                        <!-- .testimonial-rating end -->
                                        <div class="testimonial--body">
                                            <p>“ @item.Comment ”</p>
                                        </div>
                                        <!-- .testimonial-body end -->
                                        <div class="testimonial--meta">

                                            <div class="testimonial--author">
                                                <h4>@item.Name @item.Surname</h4>
                                            </div>
                                        </div>
                                        <!-- .testimonial-meta end -->
                                    </div>


                                </div>
                                <!-- .testimonial-panel end -->
                                <div class="divider--shape-1up"></div>



                            </div>
                            <!-- Testimonial #2 -->
                        }
                    }

                </div>
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
        <div class="divider--shape-1down"></div>
    </div>

    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">

                <div class="contact-form">

                    <form id="VisiterCommentForm" asp-action="SendComment" asp-controller="Contact" method="post" class="contactForm mb-0" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-4">
                                <input asp-for="@Model.VisitorComment.Name" type="text" class="form-control" name="Name" id="firstName" placeholder="@MultiLanguageOmni.ReadResourceKey.GetString("FirstName", "MultiLanguageOmni.Index"):" required="" aria-required="true">
                            </div>
                            <div class="col-md-4">
                                <input asp-for="@Model.VisitorComment.Surname" type="text" class="form-control" name="Surname" id="lastName" placeholder="@MultiLanguageOmni.ReadResourceKey.GetString("LastName", "MultiLanguageOmni.Index"):" required="" aria-required="true">
                            </div>
                            <div class="col-md-4">
                                <input asp-for="@Model.VisitorComment.VisitorEmail" type="email" class="form-control" name="VisitorEmail" id="email" placeholder="@MultiLanguageOmni.ReadResourceKey.GetString("Email", "MultiLanguageOmni.Index"):" required="" aria-required="true">
                            </div>
                            <div class="col-md-12">
                                <textarea asp-for="@Model.VisitorComment.Comment" class="form-control" name="Comment" id="message" rows="2" placeholder="@MultiLanguageOmni.ReadResourceKey.GetString("Message", "MultiLanguageOmni.Index"):" required="" aria-required="true"></textarea>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" value="@MultiLanguageOmni.ReadResourceKey.GetString("SendMessage", "MultiLanguageOmni.Index")" asp-action="SendComment" asp-controller="Contact" name="submit" class="btn btn--secondary btn--block mt-10">

                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="contact-result"></div>
                            </div>

                        </div>
                    </form>
                    @if (message != null)
                    {
                        @Html.Raw(message)
                    }
                </div>
            </div>
        </div>
        <!-- .row end -->
    </div>
</section>
<!-- #testimonial1 end -->