@using Quki.Entity.Models
@model VisitorComment
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = ViewBag.MyDiv;
}

<section id="page-title" class="page-title bg-overlay bg-parallax bg-overlay-gradient">
    <div class="bg-section">
        <img src="~/webQuki/images/page-title/10.jpg" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title title-1 text-center">
                    <div class="title--content">
                        <div class="title--subtitle">@MultiLanguageOmni.ReadResourceKey.GetString("StayUpdated", "MultiLanguageOmni.Index")</div>
                        <div class="title--heading">
                            <h1>@MultiLanguageOmni.ReadResourceKey.GetString("Ourevents", "MultiLanguageOmni.Index")</h1>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="divider--shape-1down"></div>
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<section id="contact1" class="contact contact-1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="contact--desc">
                               
                            </div>
                            <div class="row mb-30">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="contact--info">
                                        <h3>
                                            @MultiLanguageOmni.ReadResourceKey.GetString("OurAddress", "MultiLanguageOmni.Index")
                                        </h3>
                                        <p>Adresimiz: West Marina- Marmara Mahallesi Ulusum Cadddesi</p>
                                        <a class="link--styled" href="https://www.google.com/maps?ll=40.963936,28.658216&z=14&t=m&hl=tr&gl=TR&mapclient=embed&cid=5476836528330396255">@MultiLanguageOmni.ReadResourceKey.GetString("GETDIRECTIONS", "MultiLanguageOmni.Index")</a>
                                    </div>
                                </div>
                                <!-- .col-md-6 end -->
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="contact--info">
                                        <h3>
                                            @MultiLanguageOmni.ReadResourceKey.GetString("OurPhone", "MultiLanguageOmni.Index")
                                        </h3>
                                        <p>İletişim Numarası : 0505 047 73 62</p>
                                        <a class="link--styled" href="tel:+05050477362">@MultiLanguageOmni.ReadResourceKey.GetString("CALLUS", "MultiLanguageOmni.Index")</a>
                                    </div>
                                </div>
                                <!-- .col-md-6 end -->
                            </div>
                            <!-- .row end -->
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="contact--info">
                                        <h3>
                                            @MultiLanguageOmni.ReadResourceKey.GetString("OurEmail", "MultiLanguageOmni.Index")
                                        </h3>
                                        <p>Email : qukimeyhane@gmail.com</p>
                                        <a class="link--styled" href="mailto:qukimeyhane@gmail.com">@MultiLanguageOmni.ReadResourceKey.GetString("SendaMessage", "MultiLanguageOmni.Index")</a>
                                    </div>
                                </div>
                                <!-- .col-md-6 end -->
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="contact--info">
                                        <h3>
                                            @MultiLanguageOmni.ReadResourceKey.GetString("FollowUs", "MultiLanguageOmni.Index")
                                        </h3>
                                        <div class="social-icons">
                                            <a href="https://www.facebook.com/chocolatemarina/"><i class="fa fa-facebook"></i></a>
                                            <a href="https://instagram.com/westchocolatemarina?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- .col-md-6 end -->
                            </div>
                            <!-- .row end -->
                        </div>
                        <!-- .col-md-3 end -->

                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <div class="contact-form">

                                <form id="VisiterCommentForm" asp-action="SendComment" asp-controller="Contact" method="post" class="contactForm mb-0" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input asp-for="@Model.Name" type="text" class="form-control" name="Name" id="firstName" placeholder="@MultiLanguageOmni.ReadResourceKey.GetString("FirstName", "MultiLanguageOmni.Index"):" required="" aria-required="true">
                                        </div>
                                        <div class="col-md-6">
                                            <input asp-for="@Model.Surname" type="text" class="form-control" name="Surname" id="lastName" placeholder="@MultiLanguageOmni.ReadResourceKey.GetString("LastName", "MultiLanguageOmni.Index"):" required="" aria-required="true">
                                        </div>
                                        <div class="col-md-6">
                                            <input asp-for="@Model.VisitorEmail" type="email" class="form-control" name="VisitorEmail" id="email" placeholder="@MultiLanguageOmni.ReadResourceKey.GetString("Email", "MultiLanguageOmni.Index"):" required="" aria-required="true">
                                        </div>
                                        <div class="col-md-6">
                                            <input asp-for="@Model.Phone" type="text" class="form-control" name="Phone" id="phone" placeholder="@MultiLanguageOmni.ReadResourceKey.GetString("Phone", "MultiLanguageOmni.Index"):" required="" aria-required="true">
                                        </div>
                                        <div class="col-md-12">
                                            <textarea asp-for="@Model.Comment" class="form-control" name="Comment" id="message" rows="2" placeholder="@MultiLanguageOmni.ReadResourceKey.GetString("Message", "MultiLanguageOmni.Index"):" required="" aria-required="true"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="submit" value="@MultiLanguageOmni.ReadResourceKey.GetString("SendMessage", "MultiLanguageOmni.Index")" asp-action="SendComment" asp-controller="Contact" name="submit" class="btn btn--secondary btn--block mt-10">

                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="contact-result"></div>
                                        </div>

                                    </div>
                                </form>
                                @if (message != null)
                                {
                                    @Html.Raw(message)
                                }
                            </div>
                        </div>
                        <!-- .col-md-6 end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="item">
                            <div class="item-content">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12051.204311345296!2d28.6582155!3d40.9639364!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4c01a1ce1404525f!2sChocolate%20West%20Istanbul%20Marina!5e0!3m2!1str!2str!4v1672151617341!5m2!1str!2str"
                                        style="border:0; height: 450px; width:100%" allowfullscreen="" loading="lazy"></iframe>


                            </div>
                        </div>
                    </div>
    </section>
@*<script type="text/javascript">
    function submitStudent() {
        var data = $("#VisiterCommentForm").serialize();
        var div = "<div class=\"alert alert-success\" role=\"alert\"><strong>Thank you. We will contact you shortly.</strong></div>";
        console.log(data);
        alert(data);
        $.ajax({
            type: 'POST',
            url: "/Contact/SendComment",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8', // when we use .serialize() this generates the data in query string format. this needs the default contentType (default content type is: contentType: 'application/x-www-form-urlencoded; charset=UTF-8') so it is optional, you can remove it
            data: data, div,
            success: function (result) {
                alert('Successfully received Data ');
                console.log(result);
            },
            error: function () {
                alert('Failed to receive the Data');
                console.log('Failed ');
            }
        })
    }

</script>*@